.body{
    font-family: 'Roboto', sans-serif;
}

.navbar-container .nav-link {
    color: black;
    transition: color 0.3s ease-in-out;

}

.navbar-container .nav-link:hover,
.navbar-container .nav-link.active {
    color: #3D67BA;
}

/* Đổi màu chữ khi hover vào dropdown */
.navbar-container .dropdown-menu .dropdown-item:hover {
    color: #3D67BA !important; /* Đảm bảo màu được áp dụng */
    background-color: transparent !important; /* Loại bỏ màu nền mặc định */
}

/* Đổi màu chữ và border của dropdown-toggle khi hover */
.navbar-container .dropdown .btn-secondary:hover,
.navbar-container .dropdown .btn-secondary:focus {
    color: #3D67BA !important;
    background-color: transparent !important;
    border-color: transparent !important;
}

.stat-card {
    border: 1px solid #e3e6f0;
    border-radius: 0.35rem;
    padding: 1rem;
    background-color: #f8f9fc;
    transition: all 0.2s ease-in-out;
}
.stat-card:hover {
    background-color: #e2e6ea;
    transform: translateY(-5px);
}
.stat-card h3 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
.stat-card p {
    margin-bottom: 0;
    color: #858796;
}
.table thead th {
    background-color: #3D67BA;
    color: white;
}
.table tbody tr {
    transition: all 0.2s ease-in-out;
}
.table tbody tr:hover {
    background-color: #f8f9fc;
}

.progress-container {
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.35rem;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58,59,69,.15);
}

.text-left {
    text-align: left;
}

.form-check-input {
    background-color: #e2e6ea; /* Màu nền của checkbox chưa được chọn */
    border-color: #3D67BA; /* Màu viền của checkbox chưa được chọn */
}

.status-badge-pass {
    background-color: #e0f7fa;
    color: #00796b;
    border-radius: 12px;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
}
.status-badge-fail {
    background-color: #ffebee;
    color: #d32f2f;
    border-radius: 12px;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
}
.highlight-pass {
    font-weight: bold;
    color: #388e3c !important; /* Màu xanh cho điểm trên 5 */
    font-size: 1rem;
}

.highlight-fail {
    font-weight: bold;
    color: #e53935 !important; /* Màu đỏ cho điểm dưới 5 */
    font-size: 1rem;
}

.filter-button {
    border: 2px solid #3D67BA;
    background-color: white;
    color: #3D67BA;
}
.filter-button:hover {
    background-color: #3D67BA;
    color: white;
}

.export-button {
    background-color: #3D67BA;
    border: #3D67BA;
    color: white;
}
.export-button:hover {
    background-color: #3D67BA;
    color: white;
}

h3 {
    color: #000;
    font-size: 1.5rem;
}
  