
.text-primary {
    color: #3D67BA !important;
}
.navbar-container .nav-link {
    color: black;
    transition: color 0.3s ease-in-out;

}

.navbar-container .nav-link:hover,
.navbar-container .nav-link.active {
    color: #3D67BA;
}

.container {
    padding: auto;
    margin: auto;
}

.font-lexend {
    font-family: 'Lexend', sans-serif;
}
/* Chỉnh in đậm hơn */
h2, label, .form-check-label {
    font-weight: 600;
}

.form-control:focus {
    border-color: #3D67BA;
    box-shadow: 0 0 8px rgba(61, 103, 186, 0.5);
}


/* Hiệu ứng hover và transition cho nút đăng nhập */
.btn-primary {
    background-color: #3D67BA;
    border: none;
    border-radius: 8px;
    padding: 12px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
    background-color: #2B4F91;
    box-shadow: 0 4px 10px rgba(61, 103, 186, 0.4);
    transform: scale(1.05);
}

/* Bo tròn và đổ bóng cho khung đăng nhập */
.login-form {
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background: white;
    padding: 20px;
}

.footer-nav {
    background-color: #3D67BA; /* Đổi màu nền */
    color: white; /* Màu chữ */
    padding: 10px 15px; /* Khoảng cách nội dung */
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

.footer-nav a {
    color: white; /* Màu chữ của link */
    text-decoration: none; /* Bỏ gạch chân */
}

.footer-nav a:hover {
    text-decoration: underline; /* Hiệu ứng hover */
}