@media (min-width: 768px) {
    .navbar-container {
        margin-top: -50px;
        /* Adjust this value as needed */
    }

    .logout-button {
        margin-top: -50px;
    }

    .navbar {
        height: 60px;
        /* Adjust this value as needed */
    }
}