.body{
    font-family: 'Roboto', sans-serif;
}

.navbar-container .nav-link {
    color: black;
    transition: color 0.3s ease-in-out;

}

.navbar-container .nav-link:hover,
.navbar-container .nav-link.active {
    color: #3D67BA;
}

/* Đổi màu chữ khi hover vào dropdown */
.navbar-container .dropdown-menu .dropdown-item:hover {
    color: #3D67BA !important; /* Đảm bảo màu được áp dụng */
    background-color: transparent !important; /* Loại bỏ màu nền mặc định */
}

/* Đổi màu chữ và border của dropdown-toggle khi hover */
.navbar-container .dropdown .btn-secondary:hover,
.navbar-container .dropdown .btn-secondary:focus {
    color: #3D67BA !important;
    background-color: transparent !important;
    border-color: transparent !important;
}

.background{
    background-color: #3D67BA;
}

.button{
    background-color: #3D67BA;
}

.button:hover{
    background-color: #2b4a8c;
}

.thread{
    color: #3D67BA !important;
}

.custom-row{
    box-shadow: 0 0 0 1px #dee2e6;
    background-color: #fff;
}

.text{
    color: #3D67BA;
}

table {
    border-spacing: 0 5px; /* tạo khoảng cách giữa các hàng (vertical spacing) */
    border-collapse: separate; /* bắt buộc để border-spacing có tác dụng */
}

.custom-select-width {
    min-width: 160px;
  }
  