@media (min-width: 768px) {
    .navbar-container {
        margin-top: -50px;
        /* Adjust this value as needed */
    }


    .info-box {
        position: relative;
        background-color: #fff;
        padding: 24px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        top: -90px;
        color: #444B59;
        margin: 0 100px;
    }

    .login-button {
        margin-top: -50px;
    }

    .navbar {
        height: 60px;
        /* Adjust this value as needed */
    }
}
